node_modules
.turbo
.tools
.vscode/
dist
.next
.expo
*.tsbuildinfo
*.env
*.env.local
.DS_Store
apps/api/src/generated/
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
apps/mobile/android/app/.cxx/
apps/mobile/android/local.properties
